{% extends "base.html" %}
{% block title%}
SEKELE | Week Form
{% endblock %}

{% block content %}
<div class="banner text-center" style="width: 100%; height:100px; background-color:#8075FF;">
    <div style="height:15px;"></div>
    <h1 class="title align-middle" style="font-size:60px; font-family:'Poppins'; font-weight:bolder; color:#FBFBFB; vertical-align:middle;">Week Form</h1>
</div>
<br><br>
<div class="text-center col-12">
    <div class="form col rounded" style="background-color: #6320EE;color:#FBFBFB; margin:auto; max-width:420px;">
        <br>
        Please include the whole link with "https://"
        <br><br>
        <form action="" method='POST'> {% csrf_token %}
            {{ form.as_p}}
            <input class="btn btn-light"  type='submit' value='Submit' />
        </form>
        <br>
    </div>
</div>

{% endblock %}