{% extends 'base.html' %}


{% block css %}


    <style>
        * {
            margin: 0%;
            padding: 0%;
            font-family: poppins;
        }

        a {
            text-decoration: none;
        }

        h1 {
            margin: 0.5% 0px;
            font-family: Poppins;
            font-weight: bold;
            font-size: 200%;
            color: #6320EE;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        h3 {
            text-align: center;
        }

        .container-fluid {
            margin-top: 4%;
        }

        .container {
            margin-top: 10px;
        }

        /*.row{
            margin: 2% 1%;
        }*/

        #purplebg {
            background-color: #6320EE;
        }

        #purplebg:hover {
            background-color: #6338BC;
        }

        #whitebg {
            border-color: #6320EE;
            background-color: white;
            color: #6320EE;
        }

        #whitebg:hover {
            color: #6320EE;
            border-color: white;
        }

        img.card-img-top {
            width: 100%;
            height: 15vw;
        }

        .search-box {
            margin: 0.5% 0px;
        }

        input[type='text'] {
            float: right;
            width: 50%;
        }

        p{
            text-align: center;
        }
    </style>
    {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-flex text-white">
            <div class="p-2 flex-fill">
                {% if object_list != null %}
                <h1>Hasil Pencarian</h1><a href="/course/list/">kembali</a>
                {% else %}
                <h1>Add your Course Here</h1>
                {% endif %}
            </div>
            <div class="p-2 flex-fill search-box">
                <form method="GET" action="/course/search/">
                    <input type="text" class="form-control" name="q" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Search your course here" autocomplete="off">
                    <button id="purplebg" type="submit" class="btn btn-primary"
                        style="float: right; margin-right: 5px;"><i class="fa fa-search"></i> Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 d-flex justify-content-center" style="margin: 2% 1%;">
            {% if object_list %}
            {% for j in object_list %}
            <div class="row" style="margin: 2% 1%;">
                <div class="card">
                    <img src='/static/images/{{j.image}}' class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title"><b>{{j.name}}</b></h3>
                        <p class="card-text">{{j.description}}</p>
                        <div class="d-flex justify-content-center">
                            <a href="/course/enroll/{{j.id}}/" id="purplebg" class="btn btn-primary">
                                <i class="fa fa-plus"></i>&nbsp; Enroll</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% for i in course %}
            <div class="row" style="margin: 2% 1%;">
                <div class="card">
                    <img src='/static/images/{{i.image}}' class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title"><b>{{i.name}}</b></h3>
                        <p class="card-text">{{i.description}}</p>
                        <div class="d-flex justify-content-center">
                            <a href="/course/enroll/{{i.id}}/" id="purplebg" class="btn btn-primary">
                                <i class="fa fa-plus"></i>&nbsp; Enroll</a>
                        </div>
                        <!-- <div class="d-flex justify-content-center">
                            <a href="/course/unenroll/{{i.id}}/" id="purplebg" class="btn btn-primary">
                                <i class="fa fa-plus"></i>&nbsp; Unenroll</a>
                        </div> -->
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock  %}