{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success Enroll</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        * {
            margin: 0%;
            padding: 0%;
            font-family: poppins;
        }

        body {
            background-image: url('{% static "images/background.jpg"%}');
            background-attachment: fixed;
            height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .container {
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .btn {
            background-color: #6320ee;
        }

        .btn:hover {
            background-color: #6338bc;
        }
    </style>

</head>

<body>
    <div class="container d-flex justify-content-center">
        <h1>Success Enroll</h1> &nbsp;&nbsp;
        <div class="d-flex justify-content-center">
            <a href="/course/list/" class="btn btn-primary">Kembali</a>
        </div>
    </div>
</body>

</html>